body{
  
}

.card{              /*tarjeta de fondo*/ 
  position:absolute;
  top:100px;
  left:5%;
}

.bg-dark{            /*tarjeta oscura*/
  position:absolute;
  top:25px;
  left:4.5%;
  border-radius:15px;
}

.card-header{         /*encabezado*/
  color:white;
}

.bg-secondary{        /*tarjeta del centro*/
  border-radius:15px;
  position:relative;
  top:2px;
  left:7%;
}

.button{              /*boton de subir*/
  position:absolute;
  top:38px;
  left:38%;
}

.card-title{          /*recuerda*/
  color:#AAB0B5;   
}

.card-text{          /*Puedes subir*/
  color:#AAB0B5; 
}

.imagen{
  position:absolute;
  top:180px;
  left:53%;
}